name: Release

on:
  push:
    tags:
      - '*'

env:
  REF: ${{ github.event.inputs.tag || github.ref }}

jobs:
  release:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ '16' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run tests
        run: npm ci && npm test

      - name: Set package version
        run: npm version ${{  github.ref_name }}
